meta(charset='utf-8')
//meta(name='description', content=config.description)
meta(name='viewport', content='width=device-width, initial-scale=1')
//meta(name='keywords', content=config.keywords)
meta(name='referrer', content='always')
//meta(content='_csrf', name='csrf-param')
//meta(content=csrf, name='csrf-token')
