* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  background-color: #F5F6F7;
}
a {
  text-decoration: none;
  color: #000000;
  -webkit-tap-highlight-color: transparent;
}
a.link {
  color: #4A90E2;
  text-decoration: underline;
}
a:hover {
  opacity: 0.5;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
input {
  border: none;
  outline-style: none;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix:after {
  zoom: 1;
}
