@import "base.less";

@top-bar-height: 70px;

.top-bar{
    @top-bar();
}
@site-intro-height: 380px;
.site-intro {
    margin-top: 70px;
    height: @site-intro-height;
    background-color: @fir-screen-bgc;
    text-align: center;

    .container {
        position: relative;
        height: 100%;

        h1 {
            margin-top: 64px;
            margin-bottom: 0;
            font-size: 4em;
            color: white;
        }
        p {
            margin-top: 24px;
            margin-bottom: 0;
            font-size: @font-12;
            color: #D7D4CA;
        }
        img {
            margin-top: 66px;
            width: 665px;
            border: 5px solid #F5F6F7;
        }
    }
}

[class *= "-header"]{
    text-align: center;

    h2 {
        margin: 0;
        margin-top: 48px;
        font-size: 30px;
        font-weight: 300;
        color: @fir-screen-bgc;
    }
    p {
        margin: 0;
        margin-top: 12px;
        font: @font-14;
        color: #7E7E7E;
    }
}

a.load-more, a.download-resume {
    @load-more-download();
}
a.load-more {
    margin-top: 36px;
    background-color: rgba(255,255,255,.6);
}
a.load-more:hover, a.download-resume:hover {
    @load-more-download-hover();
}

.personal-resume {
    .tags {
        padding-top: 10px;

        > div {
            float: left;
            margin-right: 8px;
            color: white;
            text-align: center;

            span {
                display: block;
                float: left;
                padding: 3px 10px;
                font-weight: 300;
                
                i {
                    display: block;
                    font-style: normal;
                    transform: scale(.85);
                }
            }
            span:first-child {
                border-radius: 3px 0 0 3px;
                background-color: #666666;
            }
            span:last-child {
                background-color: #5990D1;
                border-radius: 0 3px 3px 0;
            }
        }
    }

    .personal-resume-content {
        padding: 38px 0 32px;
        margin-top: 30px;
        background-color: white;
        box-shadow: @box-shadom-resume;

        h3 {
            display: block;
            margin: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #E1E1E1;
            font-size: @font-18;
            font-weight: normal;
        }

        .basic-info ul {
            display: flex;
            padding: 24px 70px;
            justify-content: space-around;
            flex-wrap: wrap;

            li {
                display: block;
                float: left;
                width: 25%;
                font-size: @font-12;
                color: #808080;

                span {
                    display: block;
                    padding-left: 20px;
                    line-height: 18px;
                    
                }
            }

            li:nth-child(-n+4) {
                margin-bottom: 16px;
            }
            li:nth-child(1) span {
                background: url(../imgs/icon-name.png) no-repeat left center;
                background-size: 12px;
            }
            li:nth-child(2) span {
                background: url(../imgs/icon-nation.png) no-repeat left center;
                background-size: 12px;
            }
            li:nth-child(3) span {
                background: url(../imgs/icon-born.png) no-repeat left center;
                background-size: 12px;
            }
            li:nth-child(4) span {
                background: url(../imgs/icon-email.png) no-repeat left center;
                background-size: 12px;
            }
            li:nth-child(5) span {
                background: url(../imgs/icon-sex.png) no-repeat left center;
                background-size: 12px;
            }
            li:nth-child(6) span {
                background: url(../imgs/icon-marital.png) no-repeat left center;
                background-size: 12px;
            }
            li:nth-child(7) span {
                background: url(../imgs/icon-age.png) no-repeat left center;
                background-size: 12px;
            }
            li:nth-child(8) span {
                background: url(../imgs/icon-phone-number.png) no-repeat left center;
                background-size: 12px;
            }
        }

        .work-experience {
            ul, dl {
                margin: 0;
            }

            ul {
                padding-bottom: 24px;

                li {
                    display: block;
    
                    h4 {
                        margin: 0;
                        margin-top: 24px;
                        font-size: @font-16;
                    }

                    dl {
                        margin-top: 16px;
                        
                        li {
                            color: #a4a4a4;
                            line-height: 26px;
                        }
                    }
    
                }

                li:first-child h4 {
                    margin-top: 18px;
                }
            }
        }

        .edu-experience {
            padding-bottom: 24px;

            h4 {
                margin: 0;
                margin-top: 18px;
                font-size: @font-16;
            }
        }

        .job-intention dl {
            margin-top: 18px;

            li {
                color: #a4a4a4;
                line-height: 26px;
            }
        }
    }
}

.articles {
    margin-bottom: 32px;

    @article();

    li:first-child {
        margin-top: 32px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 890px;
    }
}


